[submodule "submodules/GenericDataStructures"]
	path = submodules/GenericDataStructures
	url = git@github.com:mystborn/GenericDataStructures.git
[submodule "submodules/MystEcs"]
	path = submodules/MystEcs
	url = git@github.com:mystborn/MystEcs.git
[submodule "submodules/sso_string"]
	path = submodules/sso_string
	url = git@github.com:mystborn/sso_string.git
[submodule "submodules/MistLog"]
	path = submodules/MistLog
	url = git@github.com:mystborn/MistLog.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "submodules/dear_bindings"]
	path = submodules/dear_bindings
	url = git@github.com:dearimgui/dear_bindings.git
